body{font-family: 'Roboto', sans-serif;
    margin:0%}
    .Menu-bar{display: inline-flex;
    background-image:linear-gradient(gold, goldenrod);
    width: 105%;
    height: 100%;
    list-style: none;
    color:white ;}
    li{margin: 3%;
    text-align: center;
    padding:0% 3%;
    font-weight:bold;
    font-size: 20px;}
    h1{font-size: 50px;}
    .color{color:coral;}
    .link-button{text-decoration: none;
    padding: 10px 25px;
    border-radius: 35px;
    background-image: linear-gradient(gold, goldenrod);
    color:snow;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(233, 213, 100);}
    .text-width{width: 50%;
    padding-left: 8%;
    padding-top: 8%;
    margin: 0px;}
    .display{display: flex;
        text-size-adjust: 100%;
        padding-bottom: 100px;
    }
    .background{background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-size:100%;
    display: flex;
    text-size-adjust: 100%;
    padding: 0%;
    }
    #img-style{padding: 5% 10%;}
    .aboutme{width: 50%;
    padding: 15% 10%;
    color: dimgray;
    text-align: center;}
    #myrecipe{
        padding:2% 25%;}
    .style{border-radius: 10%;}
    .flex{width: 23%;
    margin: 0% 5%;
    padding: 5px 5px;
    box-shadow: 5px 5px 10px grey;
    border-radius: 10%;
    text-align: center;}
    footer{width:100%;
        margin: 0%;
        text-align: center;
    background-color: rgb(17, 17, 17);
    border:30px solid black;
    color:ghostwhite;}
    #followers{display:flex;
        box-shadow: 5px 5px 10px grey;
        margin:0% 10% 10%;}
    .follow{margin:0% 8%;
        padding: 2% 3%;
    text-align: center;}
    .bold{font-size: 50px;}
   